
  body {   
  font-family: 'Lato', Verdana;
  font-size: 100%;
  background-color:#100e19;
  margin: 0;
  padding: 0;
}
div.menu{
background-color:#100e19;
 height:100px;
 width:72%;
 text-align:center;
 font-size:14px;
position: fixed;
 margin-right:10px;
z-index: 1000;
}
.logo{
 height:100px;
 width:10%;
float:left;
   border-radius: 25px;

}
.krugi {
	border-radius:50px;
}

.knopki{
	color: white;
height:100px;
 width:60%;
 text-align:center;
float:left;
 }

 #navbar ul{
        display: none;
        background-color: #100e19;
        position: absolute;
        top: 100%;
      }
      #navbar li:hover ul { display: block; }
      #navbar, #navbar ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #navbar {
        height: 50px;
        padding-left: 20px;
        min-width: 470px;
      }
      #navbar li {
        float: left;
        position: relative;
        height: 100%;

      }
      #navbar li a {
        display: block;
        padding: 6px;
        width: 125px;
        color: #f5f5f5;
        text-decoration: none;
        text-align: center;
      }
      #navbar ul li { float: none; }
      #navbar li:hover { background-color: #100e19; }
      #navbar ul li:hover { background-color: #696969; }
	  
	  h1{
		  color:white;
	  }
	  p{
		  color:white;
	  }
	   h3{
		  color:white;
	  }
	  .foto1{
		  border-radius:70px;
		
	left:555px;
	top:80px;
	  }
	 